.ServicesContainer {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    place-self: center;
    background: lightpink;
    border-radius: 12px;

    /* height: 125vh; */
    .left {
        h1 {
            color: black;
            padding: 40px;
        }
    }
}


.divider {
    width: 90%;
    height: 0.2vh;
    background: darkgrey;
    margin-top: 50px;
    margin-bottom: 50px;
    place-self: center;
}

.separator {
    background: black;
    height: 90vh;
    width: 0.1vw;
}