.AddProducts {
    width: 100vw;
    height: 100vh;
    place-content: center;
    place-self: center;
    background: url('/src/assets/HolidayGiftGuide.png');
    background-position: center;
    background-size: cover;
    form {
        h1 {
            position: absolute;
            top: 70px;
            color: black;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        input,
        select {
            width: 40vw;
            margin: 10px;
            padding: 10px;
            place-self: center;
            border-radius: 10px;
            outline: none;
            border: 1px solid black;
            background: rgba(255, 255, 255, 0.375);
            transition: all 300ms;
            &:hover {
                background: rgba(255, 255, 255, 0.575);
                cursor: pointer;
            }
            &::placeholder {
                color: black;
            }
        }
        #addBtn {
            background: none;
            margin: 10px;
            padding: 10px;
            bordeR: 1px solid black;
            border-radius: 10px;
            transition: all 300ms;
            width: max-content;
            color: black;
            &:hover {
                background: green;
                border: green;
                transform: scale(1.1);
                color: white;
                cursor: pointer;
            }
        }
    }
}