.Cards {
    display: flex;
    margin: 20px;
    border-radius: 6px;
    cursor: pointer;
    flex-direction: column;
    /* background: rgba(245, 222, 179, 0.579); */
    /* background: rgba(255, 255, 255, 0.449); */
    background: white;
    width: max-content;
    min-width: 20vw;
    max-width: 20vw;
    align-items: center;
    height: 50vh;
    justify-content: space-evenly;
    max-height: 60vh;
    padding: 10px;
    overflow: hidden;
    transition: all 300ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    &:hover {
        transform: scale(1.1);

        img {
            height: 45vh;
        }

        h1 {
            font-size: 18px;
        }
    }

    img {
        height: 40vh;
        width: fit-content;
        transition: all 300ms;
    }

    h1 {
        font-size: 20px;
        transition: all 300ms;
    }
}

@media only screen and (max-width: 770px) {
    .Cards {
        height: 50vh;
        max-width: 30vw;
        min-width: 30vw;
        max-height: 50vh;

        img {
            margin: 0;
            max-width: 30vw;
            height: 40vh;
        }
    }
}


@media only screen and (max-width: 540px) {
    .Cards {
        min-width: 40vw;
        width: 40vw;
        height: 80vh;
        background: linear-gradient(whitesmoke, transparent);

        img {
            height: 50vh;
            min-width: 50vw;
        }
    }
}